#Title {
    text-align: center;
}

#SubTitle {
    margin-bottom: 4%;
}

p {
    margin-bottom: 2%;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100dvh;
}

.location,
.location-details,
.location-key,
.location-weather {
    padding: 1%;
    text-align: center;
}

.btn {
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    padding: 4%;
    width: 200px;
}
